.table table-bordered{
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	min-width: 400px;
	margin-left: auto;
  margin-right: auto;
}

table{
	margin-left: auto;
  margin-right: auto;
}

table,th,td{
	padding: 15px;
	border-collapse: collapse;
}

th, td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: lightgrey;}
tr:nth-child(even) {background-color: #f2f2f2;}

td {
  height: 50px;
  vertical-align: bottom;
}

#co{
	background-color: peachpuff;
	color: white;
	text-align: center;
	font-weight: bold;

}

.table table-bordered th{
	padding: 12px 15px;
}

.d-flex{
	text-align: center;
	outline-color: black;
	font-size: 30px;
}

#data{
	padding: 12px 15px;
	text-align: center;
	border-color: black;
	font-size:17px;

}

h1{
	color: chocolate; 
	font: sans-serif; 
	text-align: center;
	font-size: 45px;
}

